@model MvcApplication.Models.InputDataViewModel

@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>insert data</p>
<form id="inputForm">
    <input type="datetime" id="startDate" /><br />
    <input type="datetime" id="endDate" /><br />
    @Html.DropDownListFor(m => m.Clients.First().Id, new SelectList(Model.PrivilegesGroups, "Id", "Name"), new { id = "PrivilegeGroupIdDDL", })
    <button value="Save" onclick="SaveData()"></button>
</form>