@using System.Linq
@model global::MvcApplication.Models.InputDataViewModel

@{
    ViewBag.Title = "InputData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InputData</h2>

<p>insert data</p>
<form id="inputForm" class="form-inline">
    <table>
        <tr>
            <td><label for="datepickervalue1">Parking begin:</label></td>
            <td>
                <input placeholder="start" id="datepickervalue1"  type="text" class="time ui-timepicker-input" autocomplete="off">                
            </td>
        </tr>
        <tr>
            <td><label for="datepickervalue2">Parking end:</label></td>
            <td>
                <input placeholder="end" id="datepickervalue2" type="text" class="time ui-timepicker-input" autocomplete="off">

            </td>
        </tr>
    </table>

    <br />
    <label for="users">Current user:</label>@Html.DropDownListFor(m => m.Clients.First().Id, new SelectList(Model.Clients, "Id", "Name"), new { id = "users", })
    <input type="button" value="Save" onclick="SaveData()"></input>
</form>

<script>
    $(function () {
        $('#datepickervalue1').timepicker({
            'minTime': '7:00am',
            'maxTime': '7:00pm',
            'showDuration': false,
            'step': 1
        });
        $('#datepickervalue2').timepicker({
            'minTime': '7:00am',
            'maxTime': '7:00pm',
            'showDuration': false,
            'step': 1
        });
    });
    function SaveData() {

        var data = {
            startdate : $("#datepickervalue1").val(),
            enddate : $("#datepickervalue2").val(),
            clientId: $("#users").val(),
            
        }
        console.log(JSON.stringify(data));
        $.ajax({
            type: "POST",
            url: "/api/rest",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: "json",
            success: function (data, success) {

                alert(success);
            },

            error: function (jqXHR, status) {
                // error handler
                console.log(jqXHR);
                alert('fail' + status.code);
            }
        });
    }
</script>