@model IList<global::MvcApplication.Models.Invoice>


@{
    ViewBag.Title = "InputData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ShowCreate)
{
    @Html.ActionLink("Create invoice", "CreateInvoice")
}

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Invoice details","InvoiceDetails",new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }

</table>
